.main-results {
  flex-direction: column;
}

.results-box {
  flex-direction: column;
}

.categories {
  display: flex;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}
