@import "../../../../styles";

.main-results {
  flex-direction: column;
}

.results-box {
  flex-direction: column;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  background-color: $super-light-grey;
  min-height: 100vh;
}

.loading {
  margin-top: 200px
}
