@import "../../../../styles";

.main-results {
  flex-direction: column;
}

.results-box {
  flex-direction: column;
}

.categories {
  display: flex;
  margin: $red-margin 0;
  font-size: 16px;
  color: #999;
}

.final-category {
  color: $dark-grey;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}
