<mat-card *ngIf="product" class="main-product col-md-12">
  <div class="picture-container">
    <img (click)="goToDetail(product?.id)"
         src="{{product?.picture}}" alt="" class="picture">
  </div>
  <div class="details col-md-7">
    <div (click)="goToDetail(product?.id)" class="price">
      <span *ngIf="product?.price?.currency === 'USD'" class="usd-currency">US</span>$
      <span>
        {{product?.price?.amount | pointReplacer }},{{product?.price?.decimals}}
        <mat-icon class="free_shipping" *ngIf="product?.free_shipping">
          local_shipping
        </mat-icon>
      </span>
    </div>
    <div (click)="goToDetail(product?.id)"
         [innerHTML]="product?.title" class="description"></div>
  </div>
  <div [innerHTML]="product?.location" class="location col-md-3"></div>
</mat-card>
