@import "../../../../styles";

.main-product {
  display: flex;
  padding: $red-margin;
  border-radius: 0;
}

.free_shipping {
  color: green;
  position: absolute;
  margin-left: 7px;
  bottom: 127px;
}

.price {
  font-size: 24px;
  margin-bottom: 32px;
}

.description {
  font-size: 16px;
}

.details, .location {
  margin-top: 22px
}

.picture-container {
  margin: 0 $red-margin;
}

.picture {
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

.location {
  font-size: 12px;
  color: $light-grey;
}

.picture, .price, .description:hover {
  cursor: pointer;
}
